<div class="container">
  <div class="container-img">
    <img src="../../assets/sample.webp">
  </div>
  <div class="container-text">
    <h1>
      APPLE 2022 MacBook AIR M2 - (8 GB/256 GB SSD/Mac OS Monterey) MLXY3HN/A
      (13.6 Inch, Silver, 1.24 Kg)
    </h1>
    <ul class="text-list">
      <li>feature this is feature</li>
      <li>feature this is feature</li>
      <li>feature this is feature</li>
      <li>feature this is feature</li>
      <li>{{myValue}}</li>
    </ul>
  </div>
  <div class="container-price">
    <h1>₹ {{price}}  </h1>
  </div>
</div>
