<p>home works!</p>
<app-navbar></app-navbar>
<div class="display-img">
  <div class="heading">
    <div class="box-heading">Lorem ipsum dolor sit amet.</div>
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, qui!
      <br>
      <button mat-raised-button color="warn">
        Get in touch 
      </button>

    </div>
    <div class="product-gallary">
      
    </div>
  </div>
  <app-product-list  [myValue]="myValue" [price]="price1"></app-product-list>
  <app-product-list  [myValue]="myPrice" [price]="price2"></app-product-list>
</div>
